{
  "presets": [
    [
      "babel-preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": "> 1%",
          "uglify": true
        },
        "useBuiltIns": true
      }
    ],
    "react", "es2015","babel-preset-react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "babel-plugin-transform-runtime",
    "transform-object-rest-spread",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ],
    "emotion"
  ]
}
