/* scss generale */
/* @import "bootstrap-sprockets"; */
@import 'bootstrap-custom';

@import "minton/variables.scss";
@import "minton/elements.scss";
@import "minton/core.scss";
/* @import "minton/icons.scss"; */
@import "minton/components.scss";
@import "minton/pages.scss";
@import "minton/menu.scss";
@import "minton/responsive.scss";

$fa-font-path: "font-awesome/fonts";
@import 'font-awesome/scss/font-awesome';

body {
  font-size: 12px;
  background: none repeat scroll 0 0 #f5f5f5;
  color: #4c5667;
  font-family: "Noto Sans",sans-serif;
  margin: 0;
  overflow-x: hidden !important;
  padding-bottom: 61px;
}

.navbar.navbar-custom {
  min-height: 30px;
  border: 0px;
  padding: 0;
  margin-bottom: 0;
  padding: 10px 0;
  transition: background-color 1s ease-in-out 0s, border 1s ease-in-out 0s;
  background-color: #ffffff;
  border-radius: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 999;
}
.navbar-nav > li > a {
    padding: 5px 20px;
    color: #000000;
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: #eee;
    text-decoration: none;
}
.container, .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
}
.navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
}

footer {
  left: 0px !important;
}

#topnav {
  background-color: transparent;
  border: 0 none;
  left: 0;
  min-height: 62px;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.5s ease 0s;
  z-index: 1030;
  
  .topbar-main {
    background-color: #3bafda;
    
    a.logo {
      background-image: image_url('civilianext.png');
      height: 12px;
      margin-bottom: 2px;
      margin-top: 2px;
      width: 188px;    
    }
    
    div.logo {
      margin-top: 7px;
    }
    
    .logo {
      color: #ffffff !important;
      float: left;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.05em;
      margin-top: 9px;
      
      + span {
	display: inline-block;
	letter-spacing: 0.02em;
	margin-right: 20px;
	padding: 5px 0;
	vertical-align: top;
	
	color: #fff;
	display: inline-block;
	float: left;
	font-size: 13px;
	font-weight: bold;
	margin-left: 20px;    
      }
      
      + span::before {
	content: "";
	display: inline-block;
	font-family: FontAwesome;
	font-feature-settings: normal;
	font-kerning: auto;
	font-language-override: normal;
	font-size: inherit;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-synthesis: weight style;
	font-variant: normal;
	font-weight: normal;
	margin-right: 5px;
	text-rendering: auto;
      }
    }
  }
  
  ul.navigation-menu > {
    padding-left: 0px;
    li {
      display: block;
      float: left;
      position: relative;
      
      :first-of-type a {
	padding-left: 0;
      }
      
      a {
	color: #797979;
	display: block;
	font-weight: 500;
	padding-left: 20px;
	padding-right: 20px;
	transition: all 0.3s ease 0s;
      }
    }
  }
  
  .topbar-main .nav > li > a {
    line-height: 30px;
    background: none repeat scroll 0 0 transparent !important;
    color: #ffffff !important;
    line-height: 30px;
    padding: 0 15px !important;
    position: relative;
    cursor: pointer;
    
    i {
      font-size: 16px;
    }
  }
  
  .topbar-main .nav > li > a:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
  }
  
  .navbar-nav > li > a {
    padding: 5px 20px;
    color: #000000;
  }
}

.panel-body {
    padding: 15px !important;
}

.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}

.wrapper {    
  margin-top: 72px;
  min-height: 79.5vh;
}

.container {
  width: 100%;
}

div[class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.form-group {
    margin-bottom: 4px;
    margin-top: 3px;
}

.form-control {
    background-color: #fff;
    box-shadow: none;
    border: 1px solid #eeeeee;
}

.panel {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.panel-default {
    border-color: #ddd;
}
.panel-heading {
    border-bottom: 1px solid transparent !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}

.panel-default > .panel-heading {
    background-color: #f5f5f5;
    border-color: #ddd !important;
    color: #333;
}
.table thead th {
    background-color: #62a8d1;
    color: #fff;
}
.table th, .table th a {
    color: #fff;
    line-height: 16px;
    padding: 0.3em;
}

label, label.control-label {
    font-size: 12px;
}
label {
    font-weight: normal;
    margin-bottom: 1px;
}
.card-box {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(54, 64, 74, 0.08);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}
.row {
    margin-left: -5px;
    margin-right: -5px;
}

.btn {
  &, &:hover, &:active, &:focus {
    border-bottom-style: solid !important;
    border-bottom-width: 2px !important;
  }
  
  &-default {
    border-bottom-color: #a4b6bf !important;
  }
  
  &-primary {
    border-bottom-color: #2494be !important;
  }
}
.no-radius {
    border-radius: 0 !important;
}

.table td{
    font-size: 13px;
    line-height: 1.4em;
}

.m-b-10 {
    margin-bottom: 10px;
}

input[type="checkbox"] {
  margin: 8px 0;
}

.form-group-sm textarea.form-control  {
  height: 90px ;
}

textarea, input, select {
  font-weight: bold;
}

#cliente_id {
    -webkit-appearance: none; 
    appearance: none;
    background: none repeat scroll 0 0 transparent !important;
    border: 0 none;
    color: #ffffff !important;
    font-size: inherit;
    font-weight: normal;
    line-height: 30px;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 195px;
    
    option {
      background-color: white;
      clear: both;
      color: #333333;
      display: block;
      font-weight: normal;
      line-height: 1.42857;
      padding: 3px 20px;
      white-space: nowrap;      
    }
}
#cliente_id::before {
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  margin-right: 5px;
  text-rendering: auto;
}

ul.dd-list, ol.dd-list {
    padding-left: 0;
}
ul, ol {
    list-style: outside none none;
}
ol, ul {
    margin-bottom: 10px;
    margin-top: 0;
}

.btn.btn-app {
    border: medium none !important;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.3;
    margin: 2px;
    padding: 12px 0;
    position: relative;
    text-align: center;
    white-space: normal;
    width: 100%;
}

.btn.btn-app > .icon {
    display: block;
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 3px;
}

.btn-app.btn-info, .btn-app.btn-info.no-hover:hover, .btn-app.btn-info.disabled:hover {
  background: linear-gradient(to bottom, #75b5e6 0%, #5ba4d5 100%) repeat-x scroll 0 0 #68adde !important;
}

.btn-app.btn-success, .btn-app.btn-success.no-hover:hover, .btn-app.btn-success.disabled:hover {
  background: linear-gradient(to bottom, #8ebf60 0%, #7daa50 100%) repeat-x scroll 0 0 #85b558 !important;
}

.btn-app.btn-purple, .btn-app.btn-purple.no-hover:hover, .btn-app.btn-purple.disabled:hover {
  background: linear-gradient(to bottom, #a696ce 0%, #8a7cb4 100%) repeat-x scroll 0 0 #9889c1 !important;
}

.btn-app.btn-danger, .btn-app.btn-danger.no-hover:hover, .btn-app.btn-danger.disabled:hover {
  background: linear-gradient(to bottom, #d55b52 0%, #d12723 100%) repeat-x scroll 0 0 #d3413b !important;
}

.btn-app.btn-pink, .btn-app.btn-pink.no-hover:hover, .btn-app.btn-pink.disabled:hover {
  background: linear-gradient(to bottom, #db5e8c 0%, #ce3970 100%) repeat-x scroll 0 0 #d54c7e !important;
}

.btn-app.btn-primary, .btn-app.btn-primary.no-hover:hover, .btn-app.btn-primary.disabled:hover {
  background: linear-gradient(to bottom, #3b98d6 0%, #197ec1 100%) repeat-x scroll 0 0 #2a8bcb !important;
}

.btn-app, .btn-app.btn-default, .btn-app.no-hover:hover, .btn-app.btn-default.no-hover:hover, .btn-app.disabled:hover, .btn-app.btn-default.disabled:hover {
  background: linear-gradient(to bottom, #bcc9d5 0%, #abbac3 100%) repeat-x scroll 0 0 #b4c2cc !important;
}

.btn-app.btn-warning, .btn-app.btn-warning.no-hover:hover, .btn-app.btn-warning.disabled:hover {
  background: linear-gradient(to bottom, #ffbf66 0%, #ffa830 100%) repeat-x scroll 0 0 #ffb44b !important;
}

.btn-app.btn-info:hover {
    background: linear-gradient(to bottom, #4a9ede 0%, #348dc9 100%) repeat-x scroll 0 0 #3f96d4 !important;
}
.btn, .btn:hover, .btn:active, .btn:focus {
    border-bottom-style: solid !important;
    border-bottom-width: 2px !important;
}
.btn-app.btn-info, .btn-app.btn-info.no-hover:hover, .btn-app.btn-info.disabled:hover {
    background: linear-gradient(to bottom, #75b5e6 0%, #5ba4d5 100%) repeat-x scroll 0 0 #68adde !important;
}
.btn-app:hover, .btn-app.btn-default:hover {
    background: linear-gradient(to bottom, #a3b5c5 0%, #93a6b2 100%) repeat-x scroll 0 0 #9baebc !important;
}

.btn-app.btn-success:hover {
    background: linear-gradient(to bottom, #74a844 0%, #648740 100%) repeat-x scroll 0 0 #6c9842 !important;
}

.btn-app.btn-purple:hover {
    background: linear-gradient(to bottom, #8973be 0%, #6d5ca1 100%) repeat-x scroll 0 0 #7b68af !important;
}

.btn-app.btn-danger:hover {
    background: linear-gradient(to bottom, #c43a30 0%, #a51f1c 100%) repeat-x scroll 0 0 #b52c26 !important;
}

.btn-app.btn-pink:hover {
    background: linear-gradient(to bottom, #d2346e 0%, #aa2a59 100%) repeat-x scroll 0 0 #be2f64 !important;
}

.btn-app.btn-primary:hover {
    background: linear-gradient(to bottom, #267eb8 0%, #136194 100%) repeat-x scroll 0 0 #1d6fa6 !important;
}

.btn-app.btn-warning:hover {
    background: linear-gradient(to bottom, #ffaa33 0%, #fc9200 100%) repeat-x scroll 0 0 #fe9e19 !important;
}